body {
	color: #212121;
	margin: 0;
	background: #f0f0f0;
}

.Game {
	display: flex;
	flex-flow: column;
	text-align: center;
	align-items: center;
	height: 100vh;
	min-height: 20em;
	overflow: hidden
}

.Game-subtitle {
	margin-top: 1em;
	font-size: 0.9em;
}

.Game-letters {
	font-size: 5em;
	margin: 0;
}

.Game-input {
	font-size: 2em;
	padding: 0.2em;
	border-radius: 0.2em;
	border: 1px solid gray;
}

.Game-fuse {
	stroke-dasharray: 415;
	transition: stroke-dashoffset 0.1s linear;
}

.Game-bomb {
	width: 20em;
	animation-duration: 0.82s;
	animation-timing-function: cubic-bezier(.36, .07, .19, .97);
	animation-fill-mode: both;
}
.Game-bomb-wrapper {
	margin-top: 1em;
	position: relative;
}

.GameWait .Game-bomb {
	opacity: 0.5;
}
.GameWait .Game-input {
	visibility: hidden;
}

.Game-over {
	position: absolute;
	top: 0;
	right: -56px;
	visibility: hidden;
}
.GameExplode .Game-over {
	visibility: visible;
}
.GameExplode .Game-bomb {
	visibility: hidden;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes slideUp {
  from { transform: translate3d(0, 0, 0); }
  to { transform: translate3d(0, -500%, 0); }
}

@keyframes slideDown {
  from { transform: translate3d(0, 0, 0); }
  to { transform: translate3d(0, 500%, 0); }
}

@keyframes slideLeft {
  from { transform: translate3d(0, 0, 0); }
  to { transform: translate3d(-500%, 0, 0); }
}

@keyframes slideRight {
  from { transform: translate3d(0, 0, 0); }
  to { transform: translate3d(500%, 0, 0); }
}
