.game {
	padding: 0 1em;
	margin: auto;
	max-width: 30em;
}

.status {
	text-align: right;
	list-style: none;
	font-size: 0.9em;
}

.letter-state {
	display: block;
}

.letters {
	font-size: 7em;
	font-family: 'Impact Label Reversed', monospace;

	float: left;
	margin: 0;
	line-height: 9rem;
}

.bomb-wrapper {
	border: 0;
	background: none;
	cursor: pointer;

	float: right;
	height: 9rem;
	width: 9rem;
}

.game-icon {
	width: 100%;
}
.fuse {
	stroke-dasharray: 415;
	transition: stroke-dashoffset 0.1s linear;
}

@keyframes bounceOutRight {
  20% {
    opacity: 1;
    transform: translate3d(-20px, 0, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.bomb {
	animation-duration: 0.82s;
	animation-timing-function: cubic-bezier(.36, .07, .19, .97);
	animation-fill-mode: both;
}
.game-over {
	animation: 1s pulse infinite;
}
.inactive .bomb {
	opacity: 0.5;
}

.failed .bomb {
	display: none;
}
.failed .game-over {
	display: block;
}
