.players {
	float: right;
	width: 18rem;
	margin: 1rem;
}
.rounds {
	padding: 1rem;
	margin-right: 20.5rem;
}

section h2 {
	font-size: 2em;
	font-family: 'Impact Label Reversed', monospace;

	margin-top: 0;
	margin-bottom: 0.5em;
}

table {
	border-collapse: collapse;

	margin-bottom: 1em;
}

thead th {
	vertical-align: bottom;

	border-bottom: 2px solid #ddd;
}

th, td {
	text-align: left;
	border-top: 1px solid #ddd;

	padding: 0.75em;
}


dt, li {
	border: 1px solid rgba(0,0,0,0.125);
	border-top-width: 0;

	padding: .75em 1.25em;
}

dt {
	border-top-width: 1px;
	color: black;
	background: #c79a6a;
	font-weight: bold;

	margin-top: 1em;
}

ul, dd {
	list-style: none;
	margin: 0;
	padding: 0;
}
