body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #212121;
	margin: 0;
	background: #f0f0f0;
}

.bodytext {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2em;
}

.screen {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    text-align: center;
    align-items: center;
}

.title {
    margin-bottom: 10px;
    border-radius: 5px;
    width: 450px;
    border: none;
    color: #36454F;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
    font-family: Impact;
}

a.buttons {
    margin-bottom: 10px;
    border-radius: 5px;

    width: 400px;
    background-color: #36454F;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    font-size: 20px;
    letter-spacing: 1px;
}

a.buttons:hover {
    color: black ;
    background-color: #DEF ;
}

