.screen {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    text-align: center;
    align-items: center;
}

.title {
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 20%;
    border: none;
    color: #36454F;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
    font-family: Impact;

}

a.buttons {
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;

    width: 10%;
    background-color: #36454F;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    font-size: 20px;
    font-family: Impact;
    letter-spacing: 1px;
}

a.buttons:hover {
    color: black ;
    background-color: #DEF ;
}

